aiohttp==3.11.7
channels==4.3.1
Django==5.1
djangorestframework==3.16.0
finnhub_python==2.4.24
kagglehub==0.3.12
numpy==2.3.2
orjson==3.11.2
pandas==2.3.2
python-dotenv==1.1.1
redis==6.4.0
Requests==2.32.5
websockets==15.0.1
django-cors-headers==4.7.0
mysqlclient==2.2.7
